.new-artist {
  .artist-img {
    width: 120px;
    height: 120px; 
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
  }

  hr {
    display: block;
    margin: 20px 0;
    border: 1px solid #444;
  }
}

.artist-list {
  display: flex; 
  justify-content: flex-start;
  gap: 24px;
  overflow-x: auto;
  width: 100%;
  padding-top: 1rem;
  scrollbar-width: thin;
}

.artist-list::-webkit-scrollbar {
  height: 8px;
}

.artist-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.artist-item {
  flex: 0 0 auto;
  width: calc(20% - 24px);
  height: 200px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist-img {
  width: 100px; 
  height: 100px; 
  object-fit: cover; 
  border-radius: 50%; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.artist-img:hover {
  transform: scale(1.1); 
}

 
@media (max-width: 1024px) {
  .artist-item {
    width: calc(45% - 16px);  
  }
}

@media (max-width: 600px) {
  .artist-item {
    width: 75%;  
    max-width: 150px;  
    height: auto;  
  }
}
