.home-page {
  display: flex;
  flex-direction: column;
  padding: 100px 20px 0 280px; /* Дээд болон зүүн талаас зай авах */
  color: #fff;
  box-sizing: border-box;
  flex-grow: 1; /* Үлдсэн зайг дүүргэх */
  overflow-y: auto; /* Босоо скролл нэмэх */
  max-height: calc(100vh - 100px); /* Харагдах хэсгийг 100px дээд зайтай болгож тохируулах */
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 32px; /* Элементүүдийн хооронд зай */
}

@media (max-width: 1024px) {
  .home-page {
    padding: 100px 20px 0 20px; /* Зүүн болон баруун талаас 20px зай */
    max-height: calc(100vh - 80px); /* Таг баруун болон доор зай бага байх */
  }

  .main-content {
    gap: 20px; /* Элементүүдийн хооронд зайг багасгах */
  }
}

@media (max-width: 768px) {
  .home-page {
    padding: 80px 20px 0 20px; /* Зүүн болон баруун талаас 20px зай */
    max-height: calc(100vh - 60px); /* Зөв зохицуулах */
  }

  .main-content {
    gap: 16px; /* Элементүүдийн хооронд зайг дахин багаас тохируулах */
  }
}

@media (max-width: 480px) {
  .home-page {
    padding: 60px 20px 0 20px; /* Зүүн болон баруун талаас 20px зай */
    max-height: calc(100vh - 50px); /* Дээд талын зайг багасгах */
  }

  .main-content {
    gap: 12px; /* Элементүүдийн хооронд зайг дахин тохируулах */
  }
}
