.home-page {
  display: flex;
  flex-direction: column;
  padding: 100px 20px 0 280px; /* Default padding */
  color: #fff;
  box-sizing: border-box;
  flex-grow: 1;
  overflow-y: auto; /* Босоо гүйлгэх боломжтой болгох */
  max-height: calc(100vh - 100px); /* Үзэгдэх дээд хэсгийн зайг тохируулах */

  @media (max-width: 1024px) {
    padding: 100px 20px 0; /* Зүүн талаас илүү их зайг хасна */
    max-height: calc(100vh - 80px); /* Харагдах хэсгийг багасгах */
  }

  @media (max-width: 768px) {
    padding: 80px 20px 0; /* Дэлгэц жижиг болох үед тохируулна */
    max-height: calc(100vh - 60px); 
  }

  @media (max-width: 480px) {
    padding: 60px 20px 0; /* Гар утасны дэлгэцэнд тохируулах */
    max-height: calc(100vh - 50px); 
  }
}

